<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>expense tracker</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div id="app">
        <!-- input for description -->
        <input type="text " placeholder="Description" v-model="description"/>
        <!-- input for amount -->
        <input type="number" placeholder="Amount" v-model.number="amount"/>
        <!-- type of input -->
        <select v-model="type">
            <option value="income" >Income</option>
            <option value="expense" selected>Expense</option>
        </select>
        <!-- button to add expense -->
        <button @click="addExpense">Add Expense</button>

        <!-- list of expenses -->
        <ul>
            <li v-for="(expense, index) in expenses" :key="index">
                {{ expense.description }} - ${{Math.abs( expense.amount )}} 
                <span v-if="expense.amount >= 0 " class="text-green-500">(Income)</span>
                <span v-else class="text-red-500">(Expense)</span>
                <!-- index -->
                <div>{{ index }}</div>
            </li>
        </ul>
    </div>


</body>


<script type="module">
    
    const { createApp, ref, watch , onMounted } = Vue;

    const app = createApp({
        setup() {
            // State
            const description = ref('');
            const amount = ref(null);
            const type = ref('expense');
            const expenses = ref([]);

            // Actions
            function addExpense() {
                if (description.value && amount.value !== null) {
                    let signedAmount = type.value === 'income' ? Math.abs(amount.value) : -Math.abs(amount.value);
                    expenses.value.push({
                        description: description.value,
                        amount: signedAmount
                    });

                    // Reset inputs
                    description.value = '';
                    amount.value = null;
                    type.value = 'expense';
                }
            }

            watch(expenses, (newExpenses) => {
                console.log('Expenses updated:', newExpenses);
            }, { deep: true });

            return {
                description,
                amount,
                type,
                expenses,
                addExpense
            };
        }
    });
    app.mount('#app');
    


</script>


</html>